.footer-wrap{
    background: #434343;
    color: #cbcbcb;
    font-size: 2rem;
    .footer{
        display: flex;
        width: 100%;
        padding-bottom: 47px;
        padding-left: 10%;
        padding-top: 110px;
        line-height: 40px;
        clear: both;
        margin-top: 50px;
        .left{
            font-size: 2rem;
        }
        .right{
            font-size: 2rem;
            margin-left: 20rem;
        }
    }
    .copyright{
        font-size: 1.5rem;
        text-align: center;
        padding-bottom: 1rem;
    }
}
