.header .right li:nth-child(2) a {
  color: #ff6a00;
}
.electricResistance-wrap .electricResistance-container {
  width: 960px;
  margin: 0 auto;
}
.electricResistance-wrap .electricResistance-container .center {
  display: flex;
  justify-content: center;
  text-align: center;
}
.electricResistance-wrap .electricResistance-container .mgTop20 {
  margin-top: 20px;
}
.electricResistance-wrap .electricResistance-container .mgLeft20 {
  margin-left: 40px;
}
.electricResistance-wrap .electricResistance-container .content {
  margin-top: 20px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  width: 100%;
  margin: 0px auto;
  position: relative;
  height: 10rem;
  margin-bottom: 1rem;
  z-index: 99;
  display: flex;
  background-color: #235ca6;
}
.header .left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
}
.header .left .logo {
  width: 8rem;
  height: 8rem;
  display: inline-block;
  background: url(https://nbycet.oss-cn-shanghai.aliyuncs.com/logo2.jpg) no-repeat;
  background-size: contain;
}
.header .right {
  flex: 1;
  margin-left: 5rem;
  align-items: center;
  display: flex;
}
.header .right ul {
  display: flex;
}
.header .right ul li {
  height: 7rem;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .right ul li + li {
  margin-left: 5rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  margin: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}
ul,
ol {
  list-style: none;
  padding-left: 0;
}
dl,
ul,
ol,
p {
  margin-top: 0;
  margin-bottom: 0;
}
dd {
  margin-left: 0;
}
input {
  margin: 0;
  padding: 0;
}
textarea,
button {
  padding: 0;
}
a {
  text-decoration: none;
  -webkit-touch-callout: none;
  color: #fff;
}
img {
  border: 0;
  vertical-align: top;
}

