.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  width: 100%;
  margin: 0px auto;
  position: relative;
  height: 10rem;
  margin-bottom: 1rem;
  z-index: 99;
  display: flex;
  background-color: #3656a3;
}
.header .left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
}
.header .left .logo {
  width: 8rem;
  height: 8rem;
  display: inline-block;
  background: url(http://nbycet.oss-cn-shanghai.aliyuncs.com/logo.jpg) no-repeat;
  background-size: contain;
}
.header .right {
  flex: 1;
  margin-left: 5rem;
  align-items: center;
  display: flex;
}
.header .right ul {
  display: flex;
}
.header .right ul li {
  height: 7rem;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .right ul li + li {
  margin-left: 5rem;
}

.carousel-des {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: #fff;
}

.footer-wrap {
  background: #434343;
  color: #cbcbcb;
  font-size: 2rem;
}
.footer-wrap .footer {
  display: flex;
  width: 100%;
  padding-bottom: 47px;
  padding-left: 10%;
  padding-top: 110px;
  line-height: 40px;
  clear: both;
  margin-top: 1rem;
}
.footer-wrap .footer .left {
  font-size: 2rem;
}
.footer-wrap .footer .right {
  font-size: 2rem;
  margin-left: 20rem;
}
.footer-wrap .copyright {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 3rem;
}

.main {
  background: url(http://nbycet.oss-cn-shanghai.aliyuncs.com/bg.png) no-repeat;
  width: 100%;
  height: 50rem;
  background-size: cover;
  color: #fff;
}
.main .title {
  font-size: 4rem;
  text-align: center;
  padding-top: 2rem;
}
.main .sub-title {
  font-size: 2rem;
  text-align: center;
  padding-top: 1rem;
}
.main .main-product {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.main .main-product .product {
  height: 310px;
  width: 230px;
  display: block;
  background: #fff;
  box-shadow: 0px 4px 20px #333333;
}
.main .main-product .product img {
  width: 230px;
  height: 129.38px;
}
.main .main-product .product .product-name-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  padding-top: 30px;
  font-size: 15px;
}
.main .main-product .product .product-name-wrap .product-name {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 14px;
  border: 2px solid #2861a8;
  margin-top: 30px;
  border-radius: 28px;
  width: 80%;
}
.main .main-product .product .product-name-wrap .product-name:hover {
  cursor: pointer;
}
.main .main-product .product + .product {
  margin-left: 40px;
}

.news .title {
  font-size: 4rem;
  text-align: center;
  padding-top: 2rem;
  color: #777777;
}
.news .sub-title {
  font-size: 1.5rem;
  padding-top: 1rem;
  text-align: center;
  color: #777777;
}
.news .news-detail {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.news .news-detail .news-detail-href + .news-detail-href {
  margin-left: 50px;
}
.news .news-detail .news-detail-href {
  display: block;
  color: black;
}
.news .news-detail .news-detail-href .news-item {
  display: flex;
  width: 450px;
}
.news .news-detail .news-detail-href .news-item .left img {
  width: 200px;
  height: 150px;
}
.news .news-detail .news-detail-href .news-item .right {
  margin-left: 10px;
}
.news .news-detail .news-detail-href .news-item .right .news-item-title {
  font-size: 15px;
}
.news .news-detail .news-detail-href .news-item .right .news-item-content {
  margin-top: 20px;
  font-size: 12px;
}

a[href='index.html'] {
  color: #ff6a00;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  margin: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}
ul,
ol {
  list-style: none;
  padding-left: 0;
}
dl,
ul,
ol,
p {
  margin-top: 0;
  margin-bottom: 0;
}
dd {
  margin-left: 0;
}
input {
  margin: 0;
  padding: 0;
}
textarea,
button {
  padding: 0;
}
a {
  text-decoration: none;
  -webkit-touch-callout: none;
  color: #fff;
}
img {
  border: 0;
  vertical-align: top;
}

